<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    metadata-complete="false" 
    version="3.0" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Archetype Created Web Application</display-name>
<!--	<servlet>-->
<!--		<servlet-name>user-servlet</servlet-name>-->
<!--		<servlet-class>org.slimx.usi.quizz.web.UserServlet</servlet-class>-->
<!--		-->
<!--	</servlet>-->
<!--	-->
<!--	<servlet-mapping>-->
<!--		<servlet-name>user-servlet</servlet-name>-->
<!--		<url-pattern>/api/user</url-pattern>-->
<!--	</servlet-mapping>-->
</web-app>
